*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.container {
    position:relative;
    margin:0 30px;
    border:2px solid black;
}

/* Header Layout */
header.container {
    margin-top:30px;
    border-bottom:none;
}
#navSmiley, #navLogo {
    display:inline-block;
    vertical-align: top;
    height:80px;
    text-align:center;
}
#navSmiley {
    width:25%;
    border-right:2px solid black;
}
#navLogo {
    width:75%;
}
    img[src="img/ngMadLibsSmiley.png"], img[src="img/ngMadLibsLogo.png"] {
        margin-top:6px;
    }
    img[src="img/ngMadLibsSmiley.png"] {
        height:64px;
    }
    img[src="img/ngMadLibsLogo.png"] {
        height:40%;
    }

/* MadLibs Keywords Layout */
#madlibskeywords form {
    padding:1em;
    text-align:center;
}
#madlibskeywords form input {
    border:1px inset;
    border-radius:3px;
    padding:3px;
    margin:5px;
}
#madlibskeywords form input.hasError::-webkit-input-placeholder {
   color: red;
}
.divider {
    border-top:2px solid black;
    margin:1em 0 2em 0;
}
#showTextBtn {
    position:absolute;
    margin:16px;
    right:0;
    bottom:0;
}

/* MadLibs Text Layout */
#madlibstext .content {
    padding:1em;
    padding-bottom:0;
}
#madlibstext .content.last {
    padding-bottom:3em;
}
#startOverBtn {
    position:absolute;
    margin:16px;
    right:0;
    bottom:0;
}
